<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <hr>
    <form action="/posted" method="post">
        <div>
            Name:: <input type="text" name="name" id="name">
        </div>
        <br>
        <hr>
        <div>
            <input type="submit" name="submit" id="submit">
        </div>
    </form>
</body>
</html>