<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
        <a href="/posted">GO Back Posted Page</a>
    <br><br>
    <hr>
    <p>Look at the console on server side</p>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut officiis earum cumque praesentium ullam corrupti eligendi, mollitia quis at, iusto illo amet saepe, harum ad accusamus hic temporibus enim velit.</p>
</body>
</html>